// Color palette
$d-blue: #44546a;
$mid-blue: #5789a1;
$l-blue-dull: #5c8d8d;
//$l-blue-shiny: #82cff4;
//$greyish: #c8c8c8;
//$purplish: #8e98cc;
//$greenish:#59926d;
//$yellowish: #fdd866;
//$pinkish: #B386A3;


$dei-magenta:#ed4b86;
$dei-blue:#3e80b0;
$dei-green:#01aa57;
$dei-yellow:#feb500;
$s2ms-black:#333333;
$s2ms-white:#ffffff;


$color-pallette: ($dei-yellow,$dei-blue,$dei-magenta,$dei-green,$s2ms-black,$s2ms-white,$mid-blue,$d-blue,$l-blue-dull);





$fontsPath:"fonts/";

//Page h1
@font-face{
  font-family:'Rockwell';
  src: url($fontsPath + "ROCK.ttf");
  font-weight: normal;
  font-style: normal;
}



@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


$color1: #748FB3;
$color2: #6FAAB3;

$color4: #B39762;
$color5: #44546a;


//$greenish-lightened: adjust-color($greenish,$saturation:-10%); // Varies the saturation of a given color + shinier / - darker and duller
//$greenish-lightened: adjust-color($greenish,$hue:30deg); // Changes the color hue itsellf
//$greenish-lightened: adjust-color($greenish,$lightness: 10% );



$light-yellow: #D9D937;
$nice-grey: #3D3D3D;
$purplish-unsaturated: #908FB2;
$purplish-saturated: #7A71BC;
$light-green: #80BF73;
$dark-green: #5e5e5e;
$orange-red: #9f9f9f;
$magenta: #B0506D;
$golden: #9E8328;