@import 'theme';
@import 'utils';


body {
  margin: 0;
  padding: 0;
  background-color: #6FAAB3;
  font-family: 'Merriweather', serif;
  font-size: large;
}


ul {
  list-style: none;
}

li {
  margin: 0.3em 0;
}


.m-axis-align-children-center {
  justify-content: center;
}

.m-axis-align-children-even-sp {
  justify-content: space-evenly;
}


.m-axis-align-children-fill {
  justify-content: stretch;
}

/*Vertical align center in cross axis*/
.x-axis-align-c {
  align-self: center;
}
.x-axis-align-r {
  align-self: flex-end;
}

.x-axis-align-fill {
  align-self: stretch;
}

.m-axis-self-stretch{
  justify-self: stretch;
}
.m-axis-self-right{
  justify-self: right;
}



header {

  margin: 0;
  background-color: #748fb3;
  min-height: 25vh;

}

menu {
  flex: 1 4 auto;
  margin: 0;
  padding: 0;
  color: white;

}

menu ul {
  padding: 0;
  list-style: none;

}

menu ul a {
  text-decoration: none;
  color: inherit;
}

menu ul a li {
  text-align: center;
  background-color: #546585;
  padding: 1vh;
  border-bottom: #fdffee solid 0.1em;
}


h1 {
  margin: 0;
  font-size: 4.5em;
}

.page-title {
  /*background-color: #9d999f;*/
  padding-left: 1em;
  color: #e1dfe9;
}

.page-icon {
  background: no-repeat center/100% url('wozIcon.png');
}

@media (max-device-width: 400px) {
  .page-title {
    width: 100%;
    height: auto;
  }

}


.card-set-row {
  display: flex;
  flex-flow: wrap row;
}


#ws-server-connection-status {
  /*background-color: #73B36B;*/
  background-color: #B39762
}


.rpc-form .card-es {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  padding: 1em;
  text-align: left;
}


.rpc-form .card-es * {
  flex: 1 1 auto;
}

.rpc-form .card-es label {
  flex: 1 1 15%;
  padding: 0 1em;
}


button {
  background-color: #906f92;
  padding: 0.5em;
  font-size: medium;
  font-weight: lighter;
}


/*.rpc-form input,.rpc-form label, .rpc-form button{*/
/*    max-width: 40%;*/
/*    min-width: 20%;*/
/*    padding:1em;*/
/*    font-size: large;*/
/*}*/

.rpc-form label {
  font-weight: bold;
}


h3, h4, h5, h6 {
  margin: 0;
  padding: 0;

}


.neat-card {
  box-sizing: border-box;
  margin: 0.5em;
  /*padding: 1em;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.flex {
  display: flex;
}

.flex-row {
  /*display: flex;*/
  flex-flow: row wrap;
}

/*.inline-flex{*/
/*    display: inline-flex;*/
/*}*/

.inner-flex-col {
  display: flex;
  flex-flow: column;
  /*align-items: stretch;*/
}

.widecol {
  flex: 0 0 50%; /* flex-grow, flex-shrink, flex-basis */
  background-color: rosybrown;
  box-shadow: inset 0 0 1px #0f0;
}

/*.f-fill-col{*/
/*    align-items: center;*/
/*}*/


/*#GamePosRotMonitoringPanel > div :first-child{*/
/*    background-color: red;*/
/*    */
/*}*/


/*equal size flex card*/
.card-es {
  flex: 1 1 auto;
}

.card-f{
  @include flex-item();
  @include flex-container(row,wrap);
  
  div{
  
    @include flex-item(80%,0,0);
  }
  button{
    @include flex-item();
  }
  
  
}

.card-content-default {
  padding: 1em 0.6em;
  margin: 0;
  background-color: #e1dfe9;
}

.bg-1 {
  background-color: #B39762
}

.bg-2 {
  background-color: #B386A3;
}

.bg-3 {
  background-color: #8c5466;
}


.card-set-col {
  display: flex;
  flex-flow: wrap column;
}

.text-center {
  text-align: center;
}

/*border: 0.2rem solid gray;*/
/*border-radius: 2px;*/
.card-big {
  flex-basis:40%;
  flex-grow: 2;
}

.card-header {
  padding: 1em 1em;
  background-color: #73B36B;
  /*text-decoration: underline darkcyan solid;*/
}

.card-header-gray {
  padding: 1em 1em;
  background-color: #406071;
}

.card-header-red {
  padding: 1em 1em;
  background-color: #853f3b;
}

.card-header-yellow {
  padding: 1em 1em;
  background-color: #928435;
}

.card-big{
  background: rebeccapurple;
}

.card-header-h {
  background-color: white;
  padding: 0.3em;
  border: 0.3em #73B36B solid;
}

.card-header-h-gray {
  background-color: white;
  padding: 0.3em;
  border: 0.3em #406071 solid;
}

.card-header-h-red {
  background-color: white;
  padding: 0.3em;
  border: 0.3em #853f3b solid;
}

.card-header-h-yellow {
  background-color: white;
  padding: 0.3em;
  border: 0.3em #928435 solid;
}


#world2D {
  box-sizing: border-box;
  background-image: url("antilatencyFoam.png");
  background-repeat: repeat;
  border-left: 1em solid #a49b26;
  border-right: 1em solid #787a66;
  border-top: 2em solid #547a78;
}

#GraphicPosRotMonitor {
  padding: 0.3em;
  background-color: #9d999f;
}


/* Terminal styling */
#client-log {
  
  background-color: black;
  margin: 0 auto;
  margin-top: 1vh;
  min-height: 200px;
  max-height: 400px;
  flex-basis: 80vh;
  flex-grow:0;
  //width: 90%;
  
  overflow-y: scroll;
  overflow-x: hidden;
  color: white;
  border: 0.5em solid dimgray;
  
  button {
    @include flex-item(20vh,0,0);
  }
  
  
}

.card-small {
  flex: 0 1 20%;
}

#client-log > div::before {
  padding-left: 2px;
  content: " > "
}
.hola{
  color: red;
}

#terminalActions {
  width: 90%;
  margin: 0.5px auto;
  text-align: right;
}

#terminalActions > button {
  
  margin: 0.5em 0.5em;
  padding: 2em;
  color: white;
  font-weight: bold;
  background-color: #114985;
}

.hidden {
  display: none;
}

/* Websocket Server connection status box*/
#conn-hostname {
  color: #406071;
  font-weight: bold;
}


.crap{
  background: red;
}

.connected-box {
  background-color: gold;
  color: black;
  font-weight: bold;
  padding: 0.2em;
}

.disconnected-box {
  background-color: #853f3b;
  color: white;
  font-weight: bold;
  padding: 0.2em;
}

/* Game Client general monitoring box */
#GameClientGeneralStatus {
  background-image: -moz-linear-gradient(50deg, #32274b, #673c92);
}


footer{
  color: white;
  flex:0 0 100% !important;
  background-color:#546585;
  min-height: 20vh;
  align-content: stretch;
  justify-content: center;
}

footer .card-es{
  margin-top: 0;
  margin-left: 2em;
}