@import 'theme';
//@import 'utils';


/* flex: grow shrink basis; */

$debug: false;
$dark-mode: true;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  color: $s2ms-white;
  font-family: 'Consolas';

}

// Debug purposes
* {
  @if $debug ==true {
    border: white 0.1em dashed;
  }
}

body {
  display: flex;
  flex-flow: row wrap;

  @if $dark-mode == true {
    background-color: $s2ms-black;
  }

}

header, footer {
  & > h1 {
    margin: 0;
  }

  //padding: 1em 0;
  flex-basis: 100%;
  background-color: inherit
}

footer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-items: stretch;
  padding: 1em 0;


  & > * {

    flex: 1 1 33%;
  }


  * {
    color: $golden;
    font-size: 12px;
  }
}


h * {
  flex-basis: 100%;
}

body > section {
  margin: 1em;
  //border: $dei-yellow 0.1em solid;
  padding: 0.3em;
  border-radius: 0.4em;
  background-color: $color2;
  flex: 1 1 33%;
}


input {
  background-color: white;
  color: $dei-blue;
  font-weight: bold;
}

li {
  list-style: none;
}


@mixin roundCorners($radius: 8px) {
  border-radius: $radius;
}


//BIG DISPLAYS (2 Columns
//body {
//  display: grid;
//  row-gap: 0.2em;
//  grid-template-columns: 0.5fr 1fr 1fr 0.5fr ;
//  grid-auto-rows: minmax(20vh, auto);
//  grid-auto-flow: row dense;
//
//}


//Console panel specifics:
#console-sect {
  flex: 1 0 50%; // Can grow , cant shrink and shall occupy at least 50%.
}

#client-log {
  /* Caja de la consola (donde se insertan los mensajes)*/
  background-color: black;
  text-align: left;

  color: inherit;
  display: block;
  //Make console height
  min-height: 15vh;
  max-height: 25vh;

  overflow-y: scroll;
  overflow-x: scroll;

  .debugMsg {
    &:before {
      content: "@> ";
      color: $dei-yellow
    }

    display: block;
    text-align: inherit;
    background-color: initial; //Discard any color by default (transparent)
  }
}


//Assigning sizes to headers and colours
$font-sizes: (50px, 32px, 24px, 12px, 8px);

@for $i from 1 through 5 {
  h#{$i} {

    font-size: nth($font-sizes, $i);
    padding: 0.1em;


    $color-header: black;

    @if $i == 1 {
      $color-header: $dei-blue;
    } @else if $i == 2 {
      $color-header: $dei-green;
    } @else {
      $color-header: $s2ms-black;
      @include roundCorners;
      margin-bottom: 0.5em;
    }


    //background-color: nth($color-pallette,(random(5))), 0.4%);
    background-color: desaturate($color-header, 5%);
  }
}


/*
--------------------------------------
 Style for the remote operations:
 --------------------------------------
 */


#RPCForms {
  display: flex;
  flex-flow: row wrap;
}

#RPCForms > h2 {
  flex: 1 /*grow YES*/
  0 90%;
}


//RPC
section > form {

  // Form is at least 33% of the screen & can grow when there is space to fill
  flex-basis: 30%;
  flex-grow: 1;

  //To make things look cleaner
  padding: 2em;
  margin: 1em;
}


form {

  // Box-properties
  background-color: $l-blue-dull;
  border-radius: 1em;
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.1);


  display: flex;
  flex-direction: column;
  align-items: center;


  label {
    font-size: 0.8em;
    //text-decoration: underline $s2ms-black;
    margin: 0 0 auto;
    padding: 1em;
    text-align: center;
  }

  input, textarea, select {
    padding: 0.2em;
    border-radius: 0.2em;
    //margin: 0;
    //padding: 0;
  }

  button {
    justify-self: stretch;
    margin-top: 2em;
    padding: 2em;
    background-color: $color5;
    border-radius: 1em;
    border: white 0.2em solid;
    font-size: 1em;


  }


}


/*
--------------------------------------
 Style for the remote monitoring section:
 --------------------------------------
 */


button {

  margin-top:1em;
  padding: 1em;
  border-radius: 1em;
  background-color: $color4;
  border: white 0.1em solid;
}

select {
  background-color: $s2ms-black;
}


/// PANEL DE MONITORIZACIÓN DE POSICIÓN RESPECTO A MAT ANTILATENCY Y VISIÓN DE GAFAS.


#visualMonitoring {

  position: relative;
}

#remoteUserView {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.5;
}

#remoteUserView:hover {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 1;
}


.s2ms-magenta-text {
  color: $dei-magenta;
}

.s2ms-green-text {
  color: $dei-green;

}

.s2ms-yellow-text {
  color: $dei-yellow;
}


section.collapsible {
  //h2:hover{
  //  background-color: #853f3b;
  //}
}




