
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.grid {
  display: grid;
  grid-template-rows: 300px;
  grid-template-columns: 1fr 1fr 2fr;
}


box{
  
}

.box-1 {
background: red;
}

.box-2 {
  
background:blue;
}

.box-3 {
  background:yellow;
}
.content{
  display:flex;
  flex-flow: column wrap;
  background: white;
  align-items: stretch;
  //justify-content: stretch;
}
p{
  background: #8c5466;
  border: 1px solid burlywood;
  flex:50% 1 1;
  text-align: center;
}