
.flex {
    display: flex;
}

.flex-row{
    /*display: flex;*/
    flex-flow: row wrap;
}

/*.inline-flex{*/
/*    display: inline-flex;*/
/*}*/

.inner-flex-col {
    display: flex;
    flex-flow: column;
    /*align-items: stretch;*/
}

.widecol{
    flex: 0 0 50%; /* flex-grow, flex-shrink, flex-basis */
    background-color: rosybrown;
    box-shadow: inset 0 0 1px #0f0;
}

/*.f-fill-col{*/
/*    align-items: center;*/
/*}*/


/*#GamePosRotMonitoringPanel > div :first-child{*/
/*    background-color: red;*/
/*    */
/*}*/

.card-set{
    display: flex;
    flex-flow: wrap row;
}




.card{
    
    display: flex;
    flex-flow: wrap column;
    flex-grow: 1;
    background-color: whitesmoke;
    
    margin: 0.5vh;
    padding: 0.3vh;
    
    border: 0.2rem solid gray;
    border-radius: 25px;
    
}

.card-big{
    flex-grow: 2;
    border: 0.2rem solid gray;
    border-radius: 25px;
    margin: 0.5vh;
    padding: 0.3vh;

}

.card-header{
    
    text-decoration: underline darkcyan solid ;
}



.card > .row {
    display: flex;
    flex-flow: wrap row;
    background-color: darkgray;
    
}
.card > .row > label {
    flex-grow: 2;
}
.card > .row > input {
    flex-grow: 1;
}






#world2D{
    background-color: darkslategrey;
}

/* Terminal styling */
#client-log{
    background-color: black;
    margin: 0 auto;
    min-height: 200px;
    max-height:  400px;
    width:90%;
    overflow-y: scroll;
    color:white;
    border: 0.5em solid dimgray;
}

#client-log>div::before{
    padding-left: 2px;
    content: " > "
}


#terminalActions{
    width: 90%;
    margin: 0.5px auto;
    text-align: right;
}
#terminalActions>button{
    margin: 0.5em 0.5em;
    padding: 2em;
    color:white;
    font-weight: bold;
    background-color: #114985;
}
