<footer>
    <ul>
        <h6>
            Info
        </h6>
        <li>
            Developed & designed by @coredamnwork
        </li>
        <li>
            Universidad Carlos III de Madrid
        </li>
        <li>
            Contact: alejandro.rey@uc3m.es
        </li>
    </ul>

</footer>