@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@font-face {
  font-family: "Rockwell";
  src: url("fonts/ROCK.ttf");
  font-weight: normal;
  font-style: normal;
}
/* flex: grow shrink basis; */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #ffffff;
  font-family: "Consolas";
}

body {
  display: flex;
  flex-flow: row wrap;
  background-color: #333333;
}

header, footer {
  flex-basis: 100%;
  background-color: inherit;
}
header > h1, footer > h1 {
  margin: 0;
}

footer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-items: stretch;
  padding: 1em 0;
}
footer > * {
  flex: 1 1 33%;
}
footer * {
  color: #9E8328;
  font-size: 12px;
}

h * {
  flex-basis: 100%;
}

body > section {
  margin: 1em;
  padding: 0.3em;
  border-radius: 0.4em;
  background-color: #6FAAB3;
  flex: 1 1 33%;
}

input {
  background-color: white;
  color: #3e80b0;
  font-weight: bold;
}

li {
  list-style: none;
}

#console-sect {
  flex: 1 0 50%;
}

#client-log {
  /* Caja de la consola (donde se insertan los mensajes)*/
  background-color: black;
  text-align: left;
  color: inherit;
  display: block;
  min-height: 15vh;
  max-height: 25vh;
  overflow-y: scroll;
  overflow-x: scroll;
}
#client-log .debugMsg {
  display: block;
  text-align: inherit;
  background-color: initial;
}
#client-log .debugMsg:before {
  content: "@> ";
  color: #feb500;
}

h1 {
  font-size: 50px;
  padding: 0.1em;
  background-color: #447faa;
}

h2 {
  font-size: 32px;
  padding: 0.1em;
  background-color: #05a657;
}

h3 {
  font-size: 24px;
  padding: 0.1em;
  border-radius: 8px;
  margin-bottom: 0.5em;
  background-color: #333333;
}

h4 {
  font-size: 12px;
  padding: 0.1em;
  border-radius: 8px;
  margin-bottom: 0.5em;
  background-color: #333333;
}

h5 {
  font-size: 8px;
  padding: 0.1em;
  border-radius: 8px;
  margin-bottom: 0.5em;
  background-color: #333333;
}

/*
--------------------------------------
 Style for the remote operations:
 --------------------------------------
 */
#RPCForms {
  display: flex;
  flex-flow: row wrap;
}

#RPCForms > h2 {
  flex: 1 0 90%;
}

section > form {
  flex-basis: 30%;
  flex-grow: 1;
  padding: 2em;
  margin: 1em;
}

form {
  background-color: #5c8d8d;
  border-radius: 1em;
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
form label {
  font-size: 0.8em;
  margin: 0 0 auto;
  padding: 1em;
  text-align: center;
}
form input, form textarea, form select {
  padding: 0.2em;
  border-radius: 0.2em;
}
form button {
  justify-self: stretch;
  margin-top: 2em;
  padding: 2em;
  background-color: #44546a;
  border-radius: 1em;
  border: white 0.2em solid;
  font-size: 1em;
}

/*
--------------------------------------
 Style for the remote monitoring section:
 --------------------------------------
 */
button {
  margin-top: 1em;
  padding: 1em;
  border-radius: 1em;
  background-color: #B39762;
  border: white 0.1em solid;
}

select {
  background-color: #333333;
}

#visualMonitoring {
  position: relative;
}

#remoteUserView {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.5;
}

#remoteUserView:hover {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 1;
}

.s2ms-magenta-text {
  color: #ed4b86;
}

.s2ms-green-text {
  color: #01aa57;
}

.s2ms-yellow-text {
  color: #feb500;
}

/*# sourceMappingURL=browser-clientv2.css.map */
